$font-primary: "Telex", sans-serif;
$font-title: "Montserrat", sans-serif;

$color-primary: #fff;
$color-secondary: #000;
$color-gray: #ccc;
$color-icon: #97a9bd;

$text-content: 1.4rem;
$text-title: 1.8rem;
$text-subtitle: 1.2rem;
$text-content-title: 2.2rem;

